doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title 大柳達哉 プロフィール
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(content="大柳達哉 プロフィール" name="title")
    meta(content="大柳達哉,プロフィール,AR,拡張現実,VR,仮想現実,防災,日立,茨城大学,大学院,石田研究室" name="keywords")

    link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href="public/style.css" rel="stylesheet")
  body.white
    nav.nav-extended.red.accent-3
      .nav-wrapper
        a.brand-logo(href="#") Portfolio
      .nav-content
        ul.tabs.tans-transparent.grey.lighten-4
          li.tab: a(href="#profile").grey-text Profile
          li.tab: a(href="#achievement").grey-text 実績
          li.tab: a(href="#programing").grey-text プログラミング
          li.tab: a(href="#research").grey-text 研究
          li.tab: a(href="#hobby").grey-text 遊び場

    main#profile
      .row
        .col.s12
          blockquote: h4 Hello World!

          p まだまだコンテンツ増量中ですのでゆっくりしていってください
          p 現在も改装中ですのでアップデートを楽しみにお待ちください(2018/2/20)．

      .row
        .col.s12
          h3 Profile
        .col.s12
          ul(data-collapsible="accordion").collapsible.popout
            li
              .collapsible-header.active
                i.material-icons person_pin
                | 名前
              .collapsible-body
                p 大柳達哉（ｵｵﾔﾅｷﾞﾀﾂﾔ）
                p Tatsuya O(h)yanagi
            li
              .collapsible-header
                i.material-icons school
                | 所属
              .collapsible-body
                p 茨城大学 大学院院 理工学研究科 情報工学専攻 博士課程前期　2年
            li
              .collapsible-header
                i.material-icons cake
                | 生年月日
              .collapsible-body
                p 1994年(平成6年)8月23日
                p 戌年
            li
              .collapsible-header
                i.material-icons local_pizza
                | 好物
              .collapsible-body
                h5 和食が多いかも
                p 寿司
                p 天ぷら
                p 抹茶
                p あんこ
                p そば
                p オムライス
            li
              .collapsible-header
                i.material-icons headset
                | よく聴く音楽
              .collapsible-body
                p 福山雅治
                p 東方神起
                p SCANDAL
                p L'arc〜en〜Ciel
                p スピッツ
                p やなぎなぎ
                p 秦基博
                p 柴咲コウ
                p 吹奏楽
            li
              .collapsible-header
                i.material-icons laptop
                | 開発環境
              .collapsible-body
                p MacBook Pro Late2016 メモリ16G, SSD 512GB

            li
              .collapsible-header
                i.material-icons blur_on
                | 好きな格言
              .collapsible-body
                .center-align
                  .vertical-text 『果報は寝て待て』


        .col.s6
          table.centered.bordered
            tbody
              tr
                th 出身地
                td 福島県郡山市
          #map-koriyama


        .col.s6
          table.centered.bordered
            tbody
              tr
                th 所在地
                td 茨城県日立市
          #map-hitachi

      .row
        .col.s12
          h3 趣味

        .col.s6.m2
          a.modal-trigger(href="#drive-m")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.blue-text ドライブ
        #drive-m.modal
          .modal-content
            p 土日にあてもなくふらりと行きます

        .col.s6.m2
          a.modal-trigger(href="#movie-m")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.blue-text 映画鑑賞

        #movie-m.modal
          .modal-content
            h4 映画
            ul
              li
                | アクション
                p ワイルドスピード
                p ミッションインポッシブル
                p アウトロー
                p オーシャンズシリーズ
              li SF
                p バックトゥーザ・フューチャー
              li ホラー
                p 和ホラー多め


        .col.s6.m2
          a.modal-trigger(href="#reading-m")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.blue-text 読書

        #reading-m.modal
          .modal-content
            ul
              li SF
              li ミステリー
              li 歴史小説
              li ファンタジー小説


        .col.s6.m2
          a.modal-trigger(href="#running-m")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.blue-text ランニング

        #running-m.modal
          .modal-content
            p 夜か休日午前に出没

        .col.s6.m2
          a.modal-trigger(href="#sub-culture-m")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.blue-text 漫画/アニメ

        #sub-culture-m.modal
          .modal-content
            h4 漫画・アニメ
            div
              h6 好きな漫画
              p ワンピース
              p 鬼滅の刃
              p 炎炎の消防隊
              p バトルスタディーズ
              p あだち充作品

              h6 好きなアニメ
              p ポケモン（毎週見てる）
              p ガンダム
              table.highlight.bordered
                thead
                  tr
                    th(colspan="2") 視聴有無
                tbody
                  tr
                    td 初代
                    td ○
                  tr
                    td Z
                    td ○
                  tr
                    td ZZ
                    td ×
                  tr
                    td 逆シャア
                    td ○
                  tr
                    td ユニコーン
                    td ○
                  tr
                    td F91
                    td ○
                  tr
                    td V
                    td ○
                  tr
                    td ∀
                    td ○
                  tr
                    td W
                    td ○
                  tr
                    td G
                    td △
                  tr
                    td SEED, SEED DESTINY
                    td ○
                  tr
                    td 00, 00 2nd
                    td ○
                  tr
                    td AGE
                    td ○
                  tr
                    td ビルドファイターズ, トライ
                    td ○
                  tr
                    td Gレコ
                    td ○
                  tr
                    td 鉄血
                    td ○

        .col.s6.m2
          a.modal-trigger(href="#programing-m")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.blue-text プログラミング

        #programing-m.modal
          .modal-content
            p 詳細は別タブ参照

        .col.s12
          h3 Links

        .col.s6.m2
          a(href="//www.ibaraki.ac.jp/index.html" target="_blank")
            .hoverable.square-card.rotate-card.center-align
              h5.teal-text 茨城大学

        .col.s6.m2
          a(href="//www.cis.ibaraki.ac.jp/" target="_blank")
            .hoverable.square-card.rotate-card.center-align
              h5.purple-text 情報工学専攻

        .col.s6.m2
          a(href="//cave.cis.ibaraki.ac.jp/" target="_blank")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.pink-text 石田研究室

        .col.s6.m2
          a(href="//github.com/hiyoko3" target="_blank")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.grey-text Github

        .col.s6.m2
          a(href="//qiita.com/tatsuya_ooyanagi" target="_blank")
            .hoverable.xs-small.square-card.rotate-card.center-align
              h5.green-text.lighten-1 Qiita


    main#achievement
      .row
        .col.s12.m4
          .card.hoverable.large
            .card-content
              span.card-title 学位
              .card-body
                table.bordered.highlight
                  thead
                    tr
                      th 授与年月
                      th 学位
                      th 授与機関
                  tbody
                    tr
                      td 2017年3月
                      td 学士（工学）
                      td: a(href="//www.ibaraki.ac.jp/" target="_blank") 茨城大学
        .col.s12.m4
          .card.hoverable.large
            .card-content
              span.card-title 資格
              .card-body
                table.bordered.highlight
                  thead
                    tr
                      th 取得年月
                      th 資格
                      th 実施期間
                      th 認定機関

                  tbody
                    tr
                      td 2015年5月18日
                      td 基本情報技術者
                      td: a(href="//www.jitec.ipa.go.jp/1_11seido/ap.html" target="_blank") IPA(情報処理推進機構)
                      td 経済産業省
                    tr
                      td 2015年12月18日
                      td 応用情報技術者
                      td: a(href="//www.jitec.ipa.go.jp/1_11seido/ap.html" target="_blank") IPA(情報処理推進機構)
                      td 経済産業省

        .col.s12.m4
          .card.hoverable.large
            .card-content
              span.card-title 職歴
              .card-body
                table
                  thead
                    tr
                      th 期間
                      th 会社名
                      th 雇用形態
                  tbody
                    tr
                      td 2015年10月~ 2017年5月
                      td: a(href="//www.unicast.ne.jp/" target="_blank") 株式会社ユニキャスト
                      td インターンシップ
                    tr
                      td 2017年8月 ~ 2017年9月
                      td: a(href="//www.sony-videosound.co.jp/" target="_blank") ソニービデオ＆サウンドプロダクツ株式会社
                      td インターンシップ
                    tr
                      td 2017年12月 ~ 2018年1月
                      td: a(href="http://www.hitachi.co.jp/rd/about/location/yrl/index.html") 日立製作所 横浜研究所
                      td インターンシップ

        .col.s12.m6
          .card.hoverable.large
            .card-content
              span.card-title 学歴
              .card-body
                table.bordered.highlight
                  thead
                    tr
                      th 期間
                      th 教育機関
                  tbody
                    tr
                      td 2010年4月　~ 2013年3月
                      td: a(href="//www.koriyamahigashi-h.fks.ed.jp/" target="_blank") 郡山東高校
                    tr
                      td 2013年4月 ~ 2017年3月
                      td: a(href="//www.cis.ibaraki.ac.jp/" target="_blank") 茨城大学工学部情報工学科
                    tr
                      td 2017年4月 ~ 現在
                      td
                        a(href="//www.cis.ibaraki.ac.jp/" target="_blank") 茨城大学大学院理工学研究科情報工学専攻

        .col.s12.m6
          .card.hoverable.large
            .card-content
              span.card-title 投稿論文
              .card-body
                ul
                  li
                    | Tatsuya Ohyanagi, Hayato Ito, Misaki Iyobe, Tomoyuki Ishida, ”Proposal of an Integrated Common Platform for Zoo Operation Support”, 23rd International Symposium on Artificial Life and Robotics, 3rd International Symposium on BioComplexity, January.2018
                    span.new.badge.blue(data-badge-caption="国際会議（査読付き）")
                  li
                    | Tatsuya Ooyanagi, Misaki Iyobe, Tomoyuki Ishida, Noriki Uchida, Kaoru Sugita, Yoshitaka Shibata, “Construction of an Electronic Health Record System for supporting a Zoo Veterinarian”, Proc. of the 11th International Conference on P2P, Parallel, Grid, Cloud and Internet Computing, pp667-676, November.2016
                    span.new.badge.blue(data-badge-caption="国際会議（査読付き）")
                  li
                    | 大柳達哉，石田智行，“獣医師のための動物電子カルテシステムの提案”，可視化情報学会全国講演会（日立2016）講演論文集，Vol.36, No.2, B107，Oct.2016．
                    span.new.badge.blue(data-badge-caption="研究会・全国大会（査読なし）")

    main#research
      .row
        .col.s12
          .card-panel
            p ただいまコンテンツ作成中
        //-.col.s12
          .card
            .card-content
              span.card-title 卒業研究

        //-.col.s12
          .card
            .card-content
              span.card-title 修士研究

    main#programing
      .row
        .col.s12
          .card-panel
            p ※触れたことがある言語は習熟度問わず全て掲載しています．

        .col.s6.m3.white-text
          .card.small.yellow.darken-2
            .card-content
              span.card-title
                a.card-w-link(href="//developer.mozilla.org/ja/docs/Web/HTML" target="_blank") HTML
                | &nbsp;
                a.card-w-link(href="//developer.mozilla.org/ja/docs/Web/CSS" target="_blank") CSS
                | &nbsp;
                a.card-w-link(href="//developer.mozilla.org/ja/docs/Web/JavaScript" target="_blank") JS
              p: a.card-w-link(href="//getbootstrap.com/" target="_blank") Bootstrap
              p: a.card-w-link(href="//materializecss.com/" target="_blank") Materialize
              p: a.card-w-link(href="//jquery.com/" target="_blank") JQuery
              p: a.card-w-link(href="//angularjs.org/" target="_blank") AngularJS
              p: a.card-w-link(href="//vuejs.org/" target="_blank") Vue 2
              p: a.card-w-link(href="//nodejs.org/ja/" target="_blank") Node.js


        .col.s6.m3.white-text
          .card.small.deep-purple.darken-1
            .card-content
              span.card-title: a.card-w-link(href="//php.net/manual/ja/langref.php" target="_blank") PHP
              p: a.card-w-link(href="//laravel.com/" target="_blank") Laravel
              p: a.card-w-link(href="//www.slimframework.com/docs/" target="_blank") Slim3

        .col.s6.m3.white-text
          .card.small.red.lighten-1
            .card-content
              span.card-title: a.card-w-link(href="//www.ruby-lang.org/ja/" target="_blank") Ruby
              p: a.card-w-link(href="//rubyonrails.org/" target="_blank") Ruby On Rails

        .col.s6.m3.white-text
          .card.small.green.darken-3
            .card-content
              span.card-title: a.card-w-link(href="//golang.org/" target="_blank") GO
              p チュートリアルレベル

        .col.s6.m3.white-text
          .card.small.lime.darken-2
            .card-content
              span.card-title
                a.card-w-link(href="//www.ie.u-ryukyu.ac.jp/~e085739/c.refer.html" target="_blank") C
                | &nbsp;
                a.card-w-link(href="//devdocs.io/cpp/" target="_blank") C++
              p 大学の講義程度

        .col.s6.m3.white-text
          .card.small.grey.darken-1
            .card-content
              span.card-title: a.card-w-link(href="//docs.oracle.com/javase/tutorial/tutorialLearningPaths.html#newtojava" target="_blank") Java
              p: a.card-w-link(href="//developer.android.com/reference/org/w3c/dom/Document.html" target="_blank") Java (Android)

        .col.s6.m3.white-text
          .card.small.indigo.darken-3
            .card-content
              span.card-title: a.card-w-link(href="//www.python.jp/about/" target="_blank") Python
              p チュートリアルレベル

    main#hobby
      .row
        .col.s12
          h3 API実験場
          p 面白そうな API を使ってみたり使ってみなかったり

        .col.s12
          .card-panel.medium
            h4.center-align Hello World の始め方
            p あなたもエンジニアの一歩を踏み出そう!
            p.codepen(data-height="265" data-theme-id="light" data-slug-hash="dJOaye" data-default-tab="html,result" data-user="hiyoko_3" data-embed-version="2" data-pen-title="dJOaye" data-preview="true")
              | See the Pen
              a(href="https://codepen.io/hiyoko_3/pen/dJOaye/") dJOaye
              | &nbsp;by ae.hiyoko_3 (
              a(href="https://codepen.io/hiyoko_3") @hiyoko_3
              | ) on
              a(href="https://codepen.io") CodePen

        //-.col.s12
          .card-panel
            h4.center-align 今期アニメ 自動取得
            ul#anime-list

            span.right
              | Presented By
              a(href="//qiita.com/AKB428/items/64938febfd4dcf6ea698#get-animev1mastercours" target="_blank") &nbsp;Anime RESTful API



    .fixed-action-btn
      button.btn-floating.btn-large.waves-effect.waves-light.red.pulse#page-top: i.material-icons keyboard_arrow_up

    footer.page-footer.grey.darken-3
      .footer-copyright
        .container
          span.left © 2017 Copyright : 大柳達哉(Ohyanagi Tatsuya)
          span.right Made by&nbsp;
            a(href="//materializecss.com/" target="_blank") Materialize

    script(async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyD1V4KWmDxjepgjMDEPIqfX7KBunNgP4Tk&callback=initMap")
    script(src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="public/script.js" type="text/javascript")
    script(async src="//production-assets.codepen.io/assets/embed/ei.js")
