doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title ポートフォリオ
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(content="ポートフォリオ" name="title")
    meta(content="大柳達哉,プロフィール,AR,拡張現実,VR,仮想現実,防災,日立,茨城大学,大学院,石田研究室" name="keywords")
    //- Style we need
    link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    //- My Style
    link(href="public/style.min.css" rel="stylesheet")
  body.grey.lighten-5
    nav.nav-extended.blue-grey.darken-4
      .nav-wrapper
        a.brand-logo(href="#") Portfolio
      .nav-content
        ul.tabs.tans-transparent.white
          li.tab: a(href="#profile").blue-grey-text Profile
          li.tab: a(href="#achievement").blue-grey-text 実績
          li.tab: a(href="#programing").blue-grey-text プログラミング
          li.tab: a(href="#research").blue-grey-text 研究
          //-li.tab: a(href="#development").indigo-text これまでの成果（物）
          li.tab: a(href="#hobby").blue-grey-text 遊び場

    include components/Profile
    include components/Achievement
    include components/Programing
    include components/Research
    include components/Hobby

    .fixed-action-btn
      button.btn-floating.btn-large.waves-effect.waves-light.red.pulse#page-top: i.material-icons keyboard_arrow_up

    footer.page-footer.blue-grey.darken-4
      .footer-copyright
        .container
          span.left © 2017-2018 Copyright : 大柳達哉(Tatsuya Oyanagi)
          span.right Made by&nbsp;
            a(href="//materializecss.com/" target="_blank") Materialize

    //- Script we need
    script(async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyD1V4KWmDxjepgjMDEPIqfX7KBunNgP4Tk&callback=initMap")
    script(src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(async src="//production-assets.codepen.io/assets/embed/ei.js")
    //- My Script
    script(src="public/script.min.js" type="text/javascript")
    script.
        // Called By Google Maps JavaScript API
        function initMap() {
            var POSITIONS = [
                {id: "#map-koriyama", center: {lat: 34.648078, lng: 135.790295}},
                {id: "#map-hitachi", center: {lat: 36.590654, lng: 140.662153}}
            ];
            for (var i = 0; i < POSITIONS.length; i++) {
                var map = new google.maps.Map(document.querySelector(POSITIONS[i].id), {
                    zoom: 16,
                    center: POSITIONS[i].center
                });
                var marker = new google.maps.Marker({position: POSITIONS[i].center, map: map});
            }
        }
