#profile.frame
	.desktop.vertical-field.w-80.pa-2
		h2.h2.pt-1#profile-header

		.mx-4
			.d-flex
				.pa-1: img(alt="profile-logo")#profile-logo
				.mt-2
					h4.h4#profile-name
					.mr-2#profile-note
		
		ul#profile-social-links
	
	.mobile.pa-1
		h2.h2.text-center#profile-header
		
		.my-1.pa-1.text-center: img(alt="profile-logo")#profile-logo

		.mt-2.pa-2
			h3.h3#profile-name
			.mr-2#profile-note

		ul#profile-social-links.tabs
			