$profile-bg: #fffaf9;
$profile-color: #d60d21;
$logo-width: 240px;
$card-shadow: rgba(220, 220, 220, 1);

#profile {
  text-align: left;
  background: $profile-bg;
  color: #1b2437;

  .user {
    box-shadow: 1px 1px 8px $card-shadow;
    background: #fffafa;


    #profile-logo {
      max-width: $logo-width;
      display: inline-block;

      @media screen and (max-width: 480px) {
        max-width: $logo-width / 2;
      }
    }

    .next-to {
      color: blue;
      cursor: pointer;

      &:hover {
        opacity: .7;
        text-decoration: underline;
      }
    }

    /* 表面の表示 */
    .is-profile {
      position: relative;
      .surface {
        opacity: 1;
        transform: rotateY(0deg);
        transition:
          opacity 100ms 150ms,
          transform 300ms 150ms;
      }

      .reversed {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: rotateY(90deg);
        transition:
          opacity 50ms 200ms,
          transform 300ms;
      }
    }

    .is-profile-reverse {
      position: relative;
      .surface {
        opacity: 0;
        transform: rotateY(90deg);
        transition:
          opacity 50ms 200ms,
          transform 300ms;
      }

      .reversed {
        position: absolute;
        top: 16px;
        left: 0;
        opacity: 1;
        transform: rotateY(0deg);
        transition:
          opacity 100ms 150ms,
          transform 300ms 150ms;
      }
    }
  }

  .social-link {
    padding: 8px;
    margin-right: 8px;
    display: inline-block;
    color: $profile-color;
    text-decoration: none;
    border: 1px solid $profile-color;

    &:hover {
      opacity: .7;
      text-decoration: underline;
    }

    @media screen and (max-width: 480px) {
      padding: 4px;
    }
  }
}