#profile.w-90.text-center.py-5
  .d-flex.user.justify-content-space-around.align-items-center
    .pa-1
      img(src="public/static/images/logo.png" alt="profile-logo")#profile-logo
    .pa-2.is-profile#profile-content
      .surface
        h4.h4 名前
        p.pl-2.my-1 hiyoko3
        h4.h4.y-1 連絡
        p.pl-2.my-1 sb.gm.0823@***
        p.pl-2.my-1 ※ ***にはgmail.comを入力してください

        h4.h4.y-2 SNS
        .pl-2.my-1
          a(target="_blank" rel="noopener" href="https://atcoder.jp/users/ae_hiyoko3").social-link AtCoder
          a(target="_blank" rel="noopener" href="https://github.com/hiyoko3").social-link Github
          a(target="_blank" rel="noopener" href="https://qiita.com/hiyoko3").social-link Qiita
