
.top-img[data-v-678a11ea] {
  margin: 0;
  padding: 2px 0;
  vertical-align: top;
  height: 44px;
}
@media (max-width: 767px) {
  /* Only smart phone css */
.top-img[data-v-678a11ea] {
    width: 80%;
    height: 32px;
}
}

.greeting-text[data-v-da53d826] {
  line-height: 32px !important;
}
.select-form[data-v-da53d826] {
  max-width: 250px;
}
.skill-text[data-v-da53d826] {
  line-height: 30px;
}

.work-icon[data-v-72891111],
.v-icon.fas[data-v-72891111] {
  font-size: 8em !important;
}
.work-img[data-v-72891111] {
  height: 150px;
  width: 100%;
  object-fit: contain;
}
