
.top-img[data-v-617ab0be] {
  margin: 0;
  padding: 2px 0;
  vertical-align: top;
  height: 44px;
}

.greeting-text[data-v-bf1681ae] {
  line-height: 32px !important;
}
.select-form[data-v-bf1681ae] {
  max-width: 250px;
}
.skill-text[data-v-bf1681ae] {
  line-height: 30px;
}

.work-icon[data-v-4faafa7e],
.v-icon.fas[data-v-4faafa7e] {
  font-size: 8em !important;
}
.work-img[data-v-4faafa7e] {
  height: 150px;
  width: 100%;
  object-fit: contain;
}
