html, body {
  height: 100%;
  width: 100%;
}

main {
  .row {
    margin-bottom: 0;
    padding: 40px 0;
  }

  ul {
    span.badge {
      float: inherit;
      padding: 2.5px;
    }
  }
}

#page-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 80px;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
      background: #999;
    }
  }
}
