html, body {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px 5px;
  h3 {
    &:before {
      content: '';
    }
  }
}

.ul-links {
  font-size:24px;
  a:hover {
    text-decoration: underline;
  }
}

.card-w-link {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

#map-koriyama,
#map-hitachi {
  height: 300px;
  width: 100%;
}

ul {
  li {
    margin: 7.5px auto;
  }
  span.badge {
    padding: 2.5px;
  }
}

.vertical-text {
  font-family: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HGP明朝B', serif;
  font-feature-settings: 'pkna';
  font-size: 20px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  writing-mode: vertical-rl;
  position:relative;
  left:5px;
  display:inline;
  p {
    text-indent: 1em;
    margin-left: 30px;
  }
  ruby {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  }
}

.pb-3 {
  padding-bottom: 12px;
}

@media only screen and (max-width: 767px) {
  #map-koriyama,
  #map-hitachi {
    height: 200px;
  }
  h5 {
    font-size: 20px;
  }
}