main#hobby
  .row
    .col.s12
      h3 API実験場
      p 面白そうな API を使ってみたり使ってみなかったり

    .col.s12
      .card-panel.medium
        h4.center-align Hello World の始め方
        p あなたもエンジニアの一歩を踏み出そう!
        p.codepen(data-height="265" data-theme-id="light" data-slug-hash="dJOaye" data-default-tab="html,result" data-user="hiyoko_3" data-embed-version="2" data-pen-title="dJOaye" data-preview="true")
          | See the Pen
          a(href="https://codepen.io/hiyoko_3/pen/dJOaye/") dJOaye
          | &nbsp;by ae.hiyoko_3 (
          a(href="https://codepen.io/hiyoko_3") @hiyoko_3
          | ) on
          a(href="https://codepen.io") CodePen

    //-.col.s12
      .card-panel
        h4.center-align 今期アニメ 自動取得
        ul#anime-list

        span.right
          | Presented By
          a(href="//qiita.com/AKB428/items/64938febfd4dcf6ea698#get-animev1mastercours" target="_blank") &nbsp;Anime RESTful API



