main#profile
  .row
    .col.s12
      blockquote: h4 Hello World!

      p まだまだコンテンツ増量中ですのでゆっくりしていってください
      p 現在も改装中ですのでアップデートを楽しみにお待ちください(2018/3/1)．

  .row
    .col.s12
      h3.center-align Profile
    .col.s12
      ul(data-collapsible="accordion").collapsible.popout
        li
          .collapsible-header.active
            i.material-icons person_pin
            | 名前
          .collapsible-body.white
            p 大柳達哉（ｵｵﾔﾅｷﾞﾀﾂﾔ）
            p Tatsuya O(h)yanagi
        li
          .collapsible-header
            i.material-icons school
            | 所属
          .collapsible-body.white
            p 茨城大学 大学院院 理工学研究科 情報工学専攻 博士課程前期　2年
        li
          .collapsible-header
            i.material-icons cake
            | 生年月日
          .collapsible-body.white
            p 1994年(平成6年)8月23日
            p 戌年
        li
          .collapsible-header
            i.material-icons local_pizza
            | 好物
          .collapsible-body.white
            h5 和食が多いかも
            p 寿司
            p 天ぷら
            p 抹茶
            p あんこ
            p そば
            p オムライス
        li
          .collapsible-header
            i.material-icons headset
            | よく聴く音楽
          .collapsible-body.white
            h5 邦楽
            p 福山雅治
            p 東方神起
            p SCANDAL
            p L'arc〜en〜Ciel
            p スピッツ
            p やなぎなぎ
            p 秦基博
            p 柴咲コウ
            h5 その他
            p 吹奏楽

        li
          .collapsible-header
            i.material-icons face
            | 好きな有名人
          .collapsible-body.white
            p 明石家さんま

        li
          .collapsible-header
            i.material-icons laptop
            | 開発環境
          .collapsible-body.white
            p MacBook Pro Late2016 メモリ16G, SSD 512GB

        li
          .collapsible-header
            i.material-icons blur_on
            | 好きな格言
          .collapsible-body.white
            .center-align
              .vertical-text 『果報は寝て待て』


    .col.s6
      table.centered.bordered
        tbody
          tr
            th 出身地
            td 福島県郡山市
      #map-koriyama
        span うまく表示されない場合はページを更新してください．


    .col.s6
      table.centered.bordered
        tbody
          tr
            th 所在地
            td 茨城県日立市
      #map-hitachi
        span うまく表示されない場合はページを更新してください．

  .row
    .col.s12
      h3.center-align 趣味

    .col.offset-m2.m8.s12
      .collection
        a.collection-item.modal-trigger(href="#drive-m")
          | ドライブ
          span.secondary-content: i.material-icons send
        a.collection-item.modal-trigger(href="#movie-m")
          | 映画鑑賞
          span.secondary-content: i.material-icons send
        a.collection-item.modal-trigger(href="#reading-m")
          | 読書
          span.secondary-content: i.material-icons send
        a.collection-item.modal-trigger(href="#running-m")
          | ランニング
          span.secondary-content: i.material-icons send
        a.collection-item.modal-trigger(href="#sub-culture-m")
          | 漫画/アニメ
          span.secondary-content: i.material-icons send
        a.collection-item.modal-trigger(href="#programing-m")
          | プログラミング
          span.secondary-content: i.material-icons send

    #drive-m.modal
      .modal-content
        p 土日にあてもなくふらりと行きます

    #movie-m.modal
      .modal-content
        ul
          li
            h5 アクション
            p ワイルドスピード
            p ミッションインポッシブル
            p アウトロー
            p オーシャンズシリーズ
          li
            h5 SF
            p バックトゥーザ・フューチャー
          li
            h5 ホラー
            p 和ホラー多め

    #reading-m.modal
      .modal-content
        ul
          li SF
          li ミステリー
          li 歴史小説
          li ファンタジー小説

    #running-m.modal
      .modal-content
        p 夜か休日午前に出没

    #sub-culture-m.modal
      .modal-content
        h4 漫画・アニメ
        div
          h5 好きな漫画
          p ワンピース
          p 鬼滅の刃
          p 炎炎の消防隊
          p バトルスタディーズ
          p あだち充作品

          h5 好きなアニメ
          p ポケモン
          p ガンダム

    #programing-m.modal
      .modal-content
        p 詳細は別タブ参照

    .col.s12
      h3.center-align Links

      ul.ul-links.center-align
        li: a(href="//www.ibaraki.ac.jp/index.html" target="_blank") 茨城大学
        li: a(href="//www.cis.ibaraki.ac.jp/" target="_blank") 情報工学専攻
        li: a(href="//cave.cis.ibaraki.ac.jp/" target="_blank") 石田研究室
        li: a(href="//github.com/hiyoko3" target="_blank") Github
        li: a(href="//qiita.com/tatsuya_oyanagi" target="_blank") Qiita
