main#programing
  .row
    .col.s12
      .card-panel
        p ※触れたことがある言語は習熟度問わず全て掲載しています．

    .col.s6.m3.white-text
      .card.small.yellow.darken-2
        .card-content
          span.card-title
            a.card-w-link(href="//developer.mozilla.org/ja/docs/Web/HTML" target="_blank") HTML
            | &nbsp;
            a.card-w-link(href="//developer.mozilla.org/ja/docs/Web/CSS" target="_blank") CSS
            | &nbsp;
            a.card-w-link(href="//developer.mozilla.org/ja/docs/Web/JavaScript" target="_blank") JS
          p: a.card-w-link(href="//getbootstrap.com/" target="_blank") Bootstrap
          p: a.card-w-link(href="//materializecss.com/" target="_blank") Materialize
          p: a.card-w-link(href="//jquery.com/" target="_blank") JQuery
          p: a.card-w-link(href="//angularjs.org/" target="_blank") AngularJS
          p: a.card-w-link(href="//vuejs.org/" target="_blank") Vue 2
          p: a.card-w-link(href="//nodejs.org/ja/" target="_blank") Node.js


    .col.s6.m3.white-text
      .card.small.deep-purple.darken-1
        .card-content
          span.card-title: a.card-w-link(href="//php.net/manual/ja/langref.php" target="_blank") PHP
          p: a.card-w-link(href="//laravel.com/" target="_blank") Laravel
          p: a.card-w-link(href="//www.slimframework.com/docs/" target="_blank") Slim3

    .col.s6.m3.white-text
      .card.small.red.lighten-1
        .card-content
          span.card-title: a.card-w-link(href="//www.ruby-lang.org/ja/" target="_blank") Ruby
          p: a.card-w-link(href="//rubyonrails.org/" target="_blank") Ruby On Rails

    .col.s6.m3.white-text
      .card.small.green.darken-3
        .card-content
          span.card-title: a.card-w-link(href="//golang.org/" target="_blank") GO
          p チュートリアルレベル

    .col.s6.m3.white-text
      .card.small.lime.darken-2
        .card-content
          span.card-title
            a.card-w-link(href="//www.ie.u-ryukyu.ac.jp/~e085739/c.refer.html" target="_blank") C
            | &nbsp;
            a.card-w-link(href="//devdocs.io/cpp/" target="_blank") C++
          p 大学の講義程度

    .col.s6.m3.white-text
      .card.small.grey.darken-1
        .card-content
          span.card-title: a.card-w-link(href="//docs.oracle.com/javase/tutorial/tutorialLearningPaths.html#newtojava" target="_blank") Java
          p: a.card-w-link(href="//developer.android.com/reference/org/w3c/dom/Document.html" target="_blank") Java (Android)

    .col.s6.m3.white-text
      .card.small.indigo.darken-3
        .card-content
          span.card-title: a.card-w-link(href="//www.python.jp/about/" target="_blank") Python
          p チュートリアルレベル

