main#sns
  .row
    .col.s12.m6
      .card.large
        .card-content
          span.card-title.green-text.lighten-1 Qiita
          .card-body
            .center-align
              img.qiita-img(src="" width="50%" alt="qiita-image")
            p.qiita-name
            .qiita-desc
          .card-action
            .right-align: a(href="https://qiita.com/tatsuya_oyanagi" target="_blank") Link

    .col.s12.m6
      .card.large
        .card-content
          span.card-title.indigo-text.lighten-2 Facebook
          .card-body
            .center-align
              img.fb-img(src="" width="50%" alt="fb-image")
            p.fb-name
            .fb-desc
            .card-action
              .right-align: a(href="https://www.facebook.com/app_scoped_user_id/595214054148002/" target="_blank") Link

    .col.s12
      .card
        .card-content
          span.card-title.grey-text.darken-3 Github
          .card-body
            .center-align
              img.gh-img(src="" height="" width="25%" alt="gh-image")
            p.gh-name
            .gh-desc
            ul.collection.with-header.gh-repos
              li.collection-header: h4 Repositories
            .card-action
              .right-align: a(href="https://github.com/hiyoko3" target="_blank") Link

