main {
  margin: 20px 5px;
}

.square-card {
  height: 150px;
  width: 150px;
  color: white;
}

.rotate-card {
  margin: 20px auto;
  transform: rotate(45deg);
  h5 {
    position: absolute;
    top: 37px;
    left: 48px;
    right: 0;
    bottom: 0;
    transform: rotate(-45deg);
  }
}

.xs-small {
  max-height: 150px;
  min-height: 150px;
  color: white;
  border-radius: 3px;
}

.card-w-link {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

#map-koriyama,
#map-hitachi {
  height: 300px;
  width: 100%;
}

ul {
  li {
    margin: 7.5px auto;
  }
  span.badge {
    padding: 2.5px;
  }
}

.vertical-text {
  font-family: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HGP明朝B', serif;
  font-feature-settings: 'pkna';
  font-size: 20px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  writing-mode: vertical-rl;
  position:relative;
  left:5px;
  display:inline;
  p {
    text-indent: 1em;
    margin-left: 30px;
  }
  ruby {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  }
}