main {
  margin: 20px 5px;
}

.card .card-content {
  padding: 12px;
}

.xs-small {
  max-height: 150px;
  min-height: 150px;
  color: white;
  border-radius: 3px;
}

.card-w-link {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

#map-koriyama,
#map-hitachi {
  height: 200px;
  width: 100%;
}

ul {
  li {
    margin: 7.5px auto;
  }
  span.badge {
    padding: 2.5px;
  }
}
