#contact.frame.pa-2
	.desktop
		h2.h2#contact-header

		.d-flex.vertical-direction.justify-content-center.align-items-center#contact-field
			.h3#contact-text

			.mt-4.h3#contact-subtext
	.mobile
		h2.h2#contact-header

		.d-flex.vertical-direction.justify-content-center.align-items-center#contact-field
			.h3#contact-text

			.mt-4.h3#contact-subtext
