#contact.frame
	.desktop.pa-2
		h2.h2#contact-header

		.d-flex.vertical-direction.justify-content-center.align-items-center#contact-field
			.h3#contact-text

			.mt-4.h3#contact-subtext

	.mobile.pa-1
		h2.h2#contact-header

		#contact-field
			.h3#contact-text

			.mt-4.h3#contact-subtext
