main#achievement
  .row
    .col.s12.m4
      .card.hoverable.large
        .card-content
          span.card-title 学位
          .card-body
            table.bordered.highlight
              thead
                tr
                  th 授与年月
                  th 学位
                  th 授与機関
              tbody
                tr
                  td 2017年3月
                  td 学士（工学）
                  td: a(href="//www.ibaraki.ac.jp/" target="_blank") 茨城大学
    .col.s12.m4
      .card.hoverable.large
        .card-content
          span.card-title 資格
          .card-body
            table.bordered.highlight
              thead
                tr
                  th 取得年月
                  th 資格
                  th 実施期間
                  th 認定機関

              tbody
                tr
                  td 2013年9月17日
                  td 普通自動車第一種運転免許
                  td.center-align -
                  td: a(href="https://www.pref.fukushima.lg.jp/sec/18.html") 福島県公安委員会
                tr
                  td 2015年5月18日
                  td 基本情報技術者
                  td: a(href="//www.jitec.ipa.go.jp/1_11seido/ap.html" target="_blank") IPA(情報処理推進機構)
                  td 経済産業省
                tr
                  td 2015年12月18日
                  td 応用情報技術者
                  td: a(href="//www.jitec.ipa.go.jp/1_11seido/ap.html" target="_blank") IPA(情報処理推進機構)
                  td 経済産業省

    .col.s12.m4
      .card.hoverable.large
        .card-content
          span.card-title 職歴
          .card-body
            table
              thead
                tr
                  th 期間
                  th 会社名
                  th 雇用形態
              tbody
                tr
                  td 2015年10月~ 2017年5月
                  td: a(href="//www.unicast.ne.jp/" target="_blank") 株式会社ユニキャスト
                  td インターンシップ
                tr
                  td 2017年8月 ~ 2017年9月
                  td: a(href="//www.sony-videosound.co.jp/" target="_blank") ソニービデオ＆サウンドプロダクツ株式会社
                  td インターンシップ
                tr
                  td 2017年12月 ~ 2018年1月
                  td: a(href="http://www.hitachi.co.jp/rd/about/location/yrl/index.html") 日立製作所 横浜研究所
                  td インターンシップ

    .col.s12.m6
      .card.hoverable.large
        .card-content
          span.card-title 学歴
          .card-body
            table.bordered.highlight
              thead
                tr
                  th 期間
                  th 教育機関
              tbody
                tr
                  td 2010年4月　~ 2013年3月
                  td: a(href="//www.koriyamahigashi-h.fks.ed.jp/" target="_blank") 郡山東高校
                tr
                  td 2013年4月 ~ 2017年3月
                  td: a(href="//www.cis.ibaraki.ac.jp/" target="_blank") 茨城大学工学部情報工学科
                tr
                  td 2017年4月 ~ 現在
                  td
                    a(href="//www.cis.ibaraki.ac.jp/" target="_blank") 茨城大学大学院理工学研究科情報工学専攻

    .col.s12.m6
      .card.hoverable.large
        .card-content
          span.card-title 投稿論文
          .card-body
            ul
              li
                | 大柳達哉, 石田智行, 内田法彦, 柴田義孝, "蓄積された経験データを用いた災害支援エキスパートシステムの提案", 第34回テレイマージョン技術研究会研究会, pp.3-4, Mar.2018.
                span.new.badge.blue(data-badge-caption="その他")
              li
                | 大柳達哉, 石田智行, "蓄積された経験データを利用した災害支援エキスパートシステムの構築", 第11回学生サステナビリティフォーラム（ポスター発表）, Feb.2018.
                span.new.badge.blue(data-badge-caption="その他")
              li
                | Tatsuya Ohyanagi, Hayato Ito, Misaki Iyobe, Tomoyuki Ishida, ”Proposal of an Integrated Common Platform for Zoo Operation Support”, 23rd International Symposium on Artificial Life and Robotics, 3rd International Symposium on BioComplexity, January.2018
                span.new.badge.blue(data-badge-caption="国際会議（査読付き）")
              li
                | Tatsuya Ooyanagi, Misaki Iyobe, Tomoyuki Ishida, Noriki Uchida, Kaoru Sugita, Yoshitaka Shibata, “Construction of an Electronic Health Record System for supporting a Zoo Veterinarian”, Proc. of the 11th International Conference on P2P, Parallel, Grid, Cloud and Internet Computing, pp667-676, November.2016
                span.new.badge.blue(data-badge-caption="国際会議（査読付き）")
              li
                | 大柳達哉，石田智行，“獣医師のための動物電子カルテシステムの提案”，可視化情報学会全国講演会（日立2016）講演論文集，Vol.36, No.2, B107，Oct.2016．
                span.new.badge.blue(data-badge-caption="研究会・全国大会（査読なし）")

