main#main {
	.page-item {
		width: 100vw;
		min-height: 100vh;

		.desktop {
			display: block;
		}

		.mobile {
			display: none;
		}
	}

	/* Responsible Layout */
	@media screen and (max-width: 480px) {
		.page-item {
			min-height: auto;

			.desktop {
				display: none;
			}

			.mobile {
				display: block;
			}
		}
	}
	@import './profile/profile';
	@import './skill/skill';
}

.visible-transition {
	transition: ease display 400ms;
}

#modal {
	display: none;
	position: fixed;
	z-index: 99999;
	top: 20% !important;

	
}

#overlay {
	display: none;
	background: rgba(0, 0, 0, .6);
	position: fixed;
	z-index: 99998;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
}
