.page-item {
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;
}

/* Responsible Layout */
@media screen and (max-width: 480px) {

}

@import './profile/_profile';
@import './skill/skill';
@import './contact/contact';
