#main.w-60.text-center
	.d-flex.justify-content-space-around.align-items-center.mt-4
		#skill.circle-el
			h2.h2 Skill
		#profile.circle-el
			h2.h2 Profile
		#contact.circle-el
			h2.h2 Contact

#modal.ma-1
	.paper-style.w-80
		#modal-header.d-flex.justify-content-space-between.align-items-center
			.h1 Skill
			button.modal-close: i.fas.fa-times.d-inline-block.h1
		#modal-body
			.h3 hoge