.container
	.row.mt-4
		.four.columns.text-center
			.circle-el.pa-1
				h3 Skill
		.four.columns.text-center
			.circle-el.pa-1
				h3 Profile
		.four.columns.text-center
			.circle-el.pa-1
				h3 Contact
