main#research
  .row
    //- .col.s12
      .card-panel
        p ただいまコンテンツ作成中
    .col.s12
      .card
        .card-content
          span 卒業研究
          h6.card-title 「動物園業務エンリッチメントを目的とした動物園業務統合型共通プラットフォームの構築」
          | 動物園内部の業務はアナログ管理が多数存在しており，これは円滑かつ効率的な業務の妨げや，動物園内部における各種情報の連携を困難としている．
          br
          | そこで本研究は，動物園業務統合型共通プラットフォームを構築した．
          br
          | 本プラットフォームは動物園業務全般の円滑かつ効率的な業務を支援することによる，動物園業務エンリッチメントを目的とする.
          br
          | これにより，動物園業務の各種情報を一元化による連携と円滑な業務支援を可能とする．
        .card-image.pb-3
          .row
            .col.offset-m2.m4.s12
              img.materialboxed(src="public/images/image_1.png" data-caption="動物園業務統合型共通プラットフォーム トップ画面" width="400" height="300")
            .col.m4.s12
              img.materialboxed(src="public/images/image_2.png" data-caption="蓄積されたデータを活用しグラフ化も可能" width="400" height="300")


    .col.s12
      .card
        .card-content
          span 修士研究
          h6.card-title 「自治体対策本部用災害エキスパートシステムの研究開発」
          br
          | 災害時には立ち上がる災害対策本部では現場の状況や職員の経験によって対応速度が大きく左右される．
          br
          | そのような中，災害対策本部では紙媒体を用いた情報管理が行われている．
          br
          | そこで，本研究では自治体災害対策本部のための災害支援エキスパートシステムを開発する．
          br
          | これは過去の災害事例とその対応情報を蓄積しておき，被災時には規模が類似した事例を表示することで情報が整理しきれていない状況においても迅速に意思決定を行う．
        .card-image.pb-3
          .row
            .col.offset-m2.m4.s12
              img.materialboxed(src="public/images/image_3.png" data-caption="災害支援エキスパートシステム 情報登録画面" width="300" height="300")
            .col.m4.s12
              img.materialboxed(src="public/images/image_4.png" data-caption="災害支援エキスパートシステム 可視化画面（想定）" width="300" height="300")


