#skill.frame.pa-2
	h2.h2#skill-header

	.d-flex.mt-4#skill-body
		#skill-menu
			h4.h4 Skills
			ul#skill-list

			h4.h4.mt-2 Products
			ul#product-list

		#skill-content.ma-3.pa-2
			.d-flex
				.pa-1: img(alt="product-img")#product-logo
				.pa-1
					h5.h5 利用言語
					#product-lang
			.mt-2
				h4.h4#product-name Productを選択すると詳細が表示されます
				.mr-2.my-2#product-desc
				.my-1: a(href="#" target="_blank" rel="noopener").d-none#product-github: i.fa-2x.fab.fa-github-alt
