$skill-bg: #282828;
$skill-color: rgba(230, 230, 230, 1);
$logo-height: 280px;
$bar-bg: #fffaf9;
$skyblue: #67b5b7;
$red: #d60d21;

#skill {
  background: $skill-bg;
  color: $skill-color;

  .skill-item {
    border-bottom: 1px dashed rgba(200, 200, 200, .8);

    .skill-name {
      width: 75%;
    }

    .skill-exp {
      border: none;
      max-width: 200px;
      min-width: 120px;

      &::-webkit-progress-value {
        color: $skyblue;
        background: $skyblue;
      }

      &::-webkit-progress-bar {
        color: $bar-bg;
        background-color: $bar-bg;
      }
    }
  }
}

/* Responsible Layout */
@media screen and (max-width: 480px) {
}