#skill
  h2.py-1.h2 スキルリスト
  .text-left
    .skill-item.pa-1
      strong.skill-name JavaScript
      p.mt-1.skill-note Vue, Reactなども実装可能
    .skill-item.pa-1
      strong.skill-name Java
    .skill-item.pa-1
      strong.skill-name PHP
      p.mt-1.skill-note Laravelがメイン
    .skill-item.pa-1
      strong.skill-name Python
      p.mt-1.skill-note Web開発利用のみ（Flask, Django）
    .skill-item.pa-1
      strong.skill-name Ruby
      p.mt-1.skill-note Ruby on Railsがメイン
    .skill-item.pa-1
      strong.skill-name Perl
      p.mt-1.skill-note 業務内でしか利用していない
    .skill-item.pa-1
      strong.skill-name MySQL
    .skill-item.pa-1
      strong.skill-name Docker
    .skill-item.pa-1
      strong.skill-name C++
      p.mt-1.skill-note 競プロでしか利用していない
    .skill-item.pa-1
      strong.skill-name Kotlin
    .skill-item.pa-1
      strong.skill-name Swift
    .skill-item.pa-1
      strong.skill-name GoLang
