$skill-bg: #282828;
$skill-color: rgba(230, 230, 230, 1);
$logo-height: 280px;
$bar-bg: #fffaf9;
$skyblue: #67b5b7;
$red: #d60d21;

#skill {
  background: $skill-bg;
  color: $skill-color;

  .skill-item {
    border-bottom: 1px dashed rgba(200, 200, 200, .8);

    progress.skill-exp {
      border: none;
      width: 200px;

      &::-webkit-progress-value {
        color: $skyblue;
        background: $skyblue;
      }

      &::-webkit-progress-bar {
        color: $bar-bg;
        background-color: $bar-bg;
      }
    }
  }

  #product-field {
    box-sizing: border-box;

    .product-list {
      flex: 0 0 320px;
      padding: 8px;
      border-right: 1px dotted $skill-color;

      &:hover {
        cursor: pointer;
      }

      p {
        &:hover {
          outline: 1px solid $skill-color;
        }
      }
    }

    .product-content {
      width: 100%;
      text-align: left;
      box-shadow: 1px 1px 8px $skill-color;

      #product-logo {
        height: $logo-height;
        display: inline-block;
      }

      #product-lang {
        span {
          color: $skyblue;
          border: 1px solid $skyblue;
          padding: 4px;
        }
      }

      #product-github {
        padding: 4px;
        display: inline-block;
        text-decoration: none;
        outline: 1px solid $red;
        color: $red;
        &:link,
        &:visited {
          color: $red;
        }
      }
    }
  }

  /* Responsible Layout */
  @media screen and (max-width: 480px) {
    display: none;

    ul#skill-list {
      li {
        padding: 2px 0;
      }
    }

    ul#product-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        &::after {
          content: '|';
          padding: 0 4px;
        }

        &:last-child::after {
          content: '';
        }
      }
    }
  }
}