doctype html
html(lang="ja")
  head
    include layouts/_head.pug
  body
    noscript.
      This is your fallback content in case JavaScript fails to load.
    #app.container-fill
      include layouts/_header.pug
      include components/main.pug
      include layouts/_footer.pug
