/* ===== Global Field ===== */
@import './components/vars';

* {
	box-sizing: border-box !important;
}

html, body {
  background: $dark-bg !important;
  color: $dark-text !important;
  font-family: 'Oswald', 'Sawarabi Gothic', sans-serif !important;
}

footer#footer {
  width: 100% !important;
  position: absolute !important;
  bottom: 0 !important;
}

/* size */
@for $i from 0 through 5 {
  .h#{$i+1} {
    font-size: #{36-($i*6)}px;
  }
}

/* width */
@for $i from 1 through 5 {
  .w-#{$i*20} {
    width: #{$i*20%} !important;
    margin: auto #{(100%-$i*20%)/2} !important;
  }
}
.container {
  width: 80% !important;
  margin: auto 10% auto !important;
}

/* spaces */
@for $i from 0 through 4 {
  .pa-#{$i} { padding: #{$i * 8}px !important; }
  .pt-#{$i} { padding: #{$i * 8}px 0 0 0 !important; }
  .pr-#{$i} { padding: 0 #{$i * 8}px 0 0 !important; }
  .pb-#{$i} { padding: 0 0 #{$i * 8}px 0 !important; }
  .pl-#{$i} { padding: 0 0 0 #{$i * 8}px !important; }
  .px-#{$i} { padding: 0 #{$i * 8}px !important; }
  .py-#{$i} { padding: #{$i * 8}px 0 !important; }
  .ma-#{$i} { margin: #{$i * 8}px !important; }
  .mt-#{$i} { margin: #{$i * 8}px 0 0 0 !important; }
  .mr-#{$i} { margin: 0 #{$i * 8}px 0 0 !important; }
  .mb-#{$i} { margin: 0 0 #{$i * 8}px 0 !important; }
  .ml-#{$i} { margin: 0 0 0 #{$i * 8}px !important; }
  .mx-#{$i} { margin: 0 #{$i * 8}px !important; }
  .my-#{$i} { margin: #{$i * 8}px 0 !important; }
}

/* align */
$aligns: left right center;
@each $a in $aligns {
  .text-#{$a} { text-align: $a !important; }
}

/* display */
$displays: block inline inline-block flex;
@each $d in $displays {
  .d-#{$d} { display: $d !important; }  
}

/* Flexbox */
.wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

$flex-items: start end center stretch flex-end flex-start;
$flex-contents: start end center stretch space-between space-around flex-end flex-start;
@each $item in $flex-items {
  .justify-items-#{$item} { justify-items: $item !important; }
  .align-items-#{$item} { align-items: $item !important; }
}
@each $content in $flex-contents {
  .justify-content-#{$content} { justify-content: $content !important; }
  .align-content-#{$content} { align-content: $content !important; }
}

/* Override styles by each components */
@import './components/main'
