/* ===== Global Field ===== */
/* Global Variables */
$dark-theme-bg: #282828;
$dark-theme-text: rgba(225, 225, 225, 1);
$active-elements: link visited focus hover;
$white-theme-bg: #f0f0eb;
$white-theme-text: #1b2437;

* {
  box-sizing: border-box !important;
}

html,
body {
  background: $dark-theme-bg !important;
  color: $dark-theme-text !important;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  #header {
    background: $white-theme-bg;
    color: $white-theme-text;

    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }
  }

  #main {
    flex: 1;
    height: 100%;
  }

  #footer {
    width: 100% !important;
  }
}

/* size */
@for $i from 0 through 5 {
  .h#{$i+1} {
    font-size: #{36-($i*6)}px;
  }
}

/* width */
@for $i from 1 through 5 {
  .w-#{$i*20} {
    width: #{$i*20%} !important;
    margin: auto #{(100%-$i*20%)/2} !important;
  }
}

.container {
  width: 80% !important;
  margin: auto 10% auto !important;
}

.container-fill {
  width: 100% !important;
}

/* spaces */
@for $i from 0 through 4 {
  .pa-#{$i} {
    padding: #{$i * 8}px !important;
  }

  .pt-#{$i} {
    padding-top: #{$i * 8}px !important;
  }

  .pr-#{$i} {
    padding-right: #{$i * 8}px !important;
  }

  .pb-#{$i} {
    padding-bottom: #{$i * 8}px !important;
  }

  .pl-#{$i} {
    padding-left: #{$i * 8}px !important;
  }

  .px-#{$i} {
    padding: 0 #{$i * 8}px !important;
  }

  .py-#{$i} {
    padding: #{$i * 8}px 0 !important;
  }

  .ma-#{$i} {
    margin: #{$i * 8}px !important;
  }

  .mt-#{$i} {
    margin-top: #{$i * 8}px !important;
  }

  .mr-#{$i} {
    margin-right: #{$i * 8}px !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 8}px !important;
  }

  .ml-#{$i} {
    margin-left: #{$i * 8}px !important;
  }

  .mx-#{$i} {
    margin: 0 #{$i * 8}px !important;
  }

  .my-#{$i} {
    margin: #{$i * 8}px 0 !important;
  }
}

/* align */
$aligns: left right center;

@each $a in $aligns {
  .text-#{$a} {
    text-align: $a !important;
  }
}

/* display */
$displays: block inline inline-block flex none;

@each $d in $displays {
  .d-#{$d} {
    display: $d !important;
  }
}

/* Flexbox */
.wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.vertical-direction {
  flex-direction: column;
}

$flex-items: start end center stretch flex-end flex-start;
$flex-contents: start end center stretch space-between space-around flex-end flex-start;

@each $item in $flex-items {
  .justify-items-#{$item} {
    justify-items: $item !important;
  }

  .align-items-#{$item} {
    align-items: $item !important;
  }
}

@each $content in $flex-contents {
  .justify-content-#{$content} {
    justify-content: $content !important;
  }

  .align-content-#{$content} {
    align-content: $content !important;
  }
}

/* Responsible Layout */
@media screen and (max-width: 480px) {

  html,
  body {
    font-family: 'Oswald', 'Sawarabi Gothic', sans-serif !important;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  #app {

    #header,
    #footer {
      background: $dark-theme-bg !important;
      color: $dark-theme-text !important;
    }

    #header {
      .desktop {
        display: none !important;
      }

      .mobile {
        display: block !important;
      }

      .breadcrumbs {
        text-align: right;

        .breadcrumb-item {
          display: inline-block;

          &::after {
            content: '/';
            padding: 0 4px;
          }

          &:last-child::after {
            content: '';
            padding: 0;
          }

          .active {
            color: #fffacd;
            font-weight: bolder;
          }
        }
      }

      .help {
        cursor: pointer;

        &:hover {
          opacity: .8;
          font-weight: bold;
        }
      }
    }
  }
}

/* Override styles by each components */
@import './components/main'