header#header
	.desktop: h1.h1.text-center.my-3 Portfolio
	.mobile
		h3.h3.text-center.my-1 Portfolio
		.breadcrumbs.pr-2.pb-1
			span(data-target="profile") profile
			span(data-target="skill") skill
			span(data-target="contact") contact
