meta(charset="utf-8")
title Hiyoko3 Portfolio | A piyo piyo engineer 
meta(http-equiv="X-UA-Compatible" content="IE=edge")
link(rel="canonical" href="https://hiyoko3.github.io/")
link(rel="icon" href="public/static/images/favicon.ico" type="image/vnd.microsoft.icon")
link(rel="shortcut icon" href="public/static/images/favicon.ico" type="image/vnd.microsoft.icon")

//- /* ==== OGP ==== */
meta(property="og:site_name" content="Hiyoko3 Portfolio")
meta(property="og:title" content="Hiyoko3 Portfolio")
meta(property="og:description" content="Hiyoko3 Portfolio | A piyo piyo engineer")
meta(property="og:type" content="website")
meta(property="og:url" content="https://hiyoko3.github.io/")
meta(property="og:image" content="https://hiyoko3.github.io/public/static/images/icons/apple-touch-icon.png")
meta(property="fb:app_id" content="429920394126900")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="https://hiyoko3.github.io/")
meta(name="twitter:image" content="https://hiyoko3.github.io/public/static/images/icons/apple-touch-icon.png")

//- Web fonts
link(href="https://fonts.googleapis.com/css?family=Oswald|Sawarabi+Gothic" rel="stylesheet")
